<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">
    <p th:text="#{index.body.annon}">text about anonymous user</p>
    <p>
    <form method="post" th:action="@{/oauth2/authorization/muni}">
        <button class="btn btn-outline-primary" type="submit">Login MUNI</button>
    </form>
    <p>
    <p th:utext="#{api_note}">api note</p>
</th:block>
</body>
</html>