<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title=${#messages.msg('index.title')}">
<body>
<th:block layout:fragment="body">
    <p>You have successfully logged in! Here is your information:
    <p>
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">subject</th>
            <td th:text="${subject}"></td>
        </tr>
        <tr>
            <th scope="row">scopes</th>
            <td th:text="${scopes}"></td>
        </tr>
        <tr>
            <th scope="row">accessToken</th>
            <td>
                <textarea id="accessTokenTextArea" readonly th:text="${accessToken}"></textarea>
                <br>
                <button class="btn btn-outline-primary"
                        onclick="navigator.clipboard.writeText(document.getElementById('accessTokenTextArea').value)">
                Copy to clipboard
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
    <form method="post" th:action="@{/logout}">
        <button class="btn btn-outline-primary" type="submit">Logout</button>
    </form>
    <p>
    <p th:utext="#{api_note}">api note</p>
</th:block>
</body>
</html>